<div class="question-panel">
    <%=idx%>:<%=question.content%>（<%=question.score%>）

    <div class="answer-panel">
    <% question.answers.each_with_index do |answer,index|%>
      <p>
        <input type="radio" name="optAnswer<%=question.id%>" id="optanswer<%=answer.id%>" value="answer<%=answer.id%>">&nbsp&nbsp<%=number_to_alpha(index)%>:<%=answer.content%>
      </p>
    <% end %>
    </div>

</div>
