<% provide(:title,@testpaper.title)%>
<h1><%=@testpaper.title%></h1>
<% (1..3).each do |idx|%>
  <h2><%=get_qst_type_name(idx)%></h2>
  <% if !@hashques[idx].nil? %>
    <% @hashques[idx].each_with_index do |question,index|%>
      <%=index+1%>:<%=question.content%><br/>
    <% end %>
  <% end %>
<% end %>
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#singleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="singleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" name="singleFm" id="singleFm" action="/testpaper/<%=@testpaper.id%>/questions" method="post">
          <input type="hidden" name="qtype" values="1">
          <div class="form-group">
            <label value="题目内容：" class: "col-sm-2 control-label"/>
            <div class="col-sm-6">
              <textarea name="content" class="form-control" row="3" placeholder="输入试题内容"></textarea>
            </div>
          </div>

          <div class="form-group">
            <label value="选项" class: "col-sm-2 control-label"/>
            <div class="col-sm-6">
              <input name="answer1" class="form-control" placeholder="输入答案"/>
            </div>
          </div>

          <div class="form-group">
            <label value="选项" class: "col-sm-2 control-label"/>
            <div class="col-sm-6">
              <input name="answer2" class="form-control" placeholder="输入答案"/>
            </div>
          </div>

          <div class="form-group">
            <label value="选项" class: "col-sm-2 control-label"/>
            <div class="col-sm-6">
              <input name="answer3" class="form-control" placeholder="输入答案"/>
            </div>
          </div>

          <div class="form-group">
            <label value="选项" class: "col-sm-2 control-label"/>
            <div class="col-sm-6">
              <input name="answer4" class="form-control" placeholder="输入答案"/>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
